[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
selenium = "*"
faker = "*"
pylint-django = "*"

[packages]
django = "*"
psycopg2 = "*"
uszipcode = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-filter = "*"
requests = "*"
googlemaps = "*"
pillow = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
