<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Occupational Health Network (OCH Net) Disclaimer</title>
</head>
<body>
    <header>
        <img id="logo" alt="OCH Net">
    </header>
    <main>
        <p>Occupational Health Network, or OCH Net, is an online, open-content, collaborate network. In other words, it is a voluntary association of individuals and groups working to develop a common resource of information on clinics that offer occupational health services. Because of the nature of the site, anyone with an Internet connection can alter its content. Please be advised that nothing found here has necessarily been reviewed by people with the expertise required to validate this information.</p>

        <p>Most of the time, you will find accurate and valid information on the network. However, <strong>OCH Net cannot guarantee the validity of the information found here.</strong> The information on any clinic may have recently been changed, vandalized, or altered by someone else.</p>

        <h3>NO FORMAL PEER REVIEW</h3>
        <p>OCH Net is not uniformly peer reviewed. This means that while users may correct errors and update clinic information as they change, they have no legal duty to do so.</p>

        <p><strong>No one connected to OCH Net in any way whatsoever can be held responsible for the appearance of any inaccurate information on the network or from linked web pages.</strong></p>

        <h3>TESTIMONIALS</h3>
        <p>Each user's experience is unique to themselves. The testimonials written by users on this network are not representative of every user's experience. The testimonials are voluntarily provided and are not paid. The testimonials are representative of experiences from a patient or administrative point of view, but the exact experience will be unique and individual to each user.</p>

        <h3>NOT PROFESSIONAL ADVICE</h3>
        <p>If you need specific advice, please seek a professional who is licensed or knowledgable in that area, or try calling the clinic directly and request to speak with a medical professional.</p>
    </main>
    <footer class="popup-footer">
        <a onclick="window.close()" href="#">Close This Window</a>
    </footer>
</body>
</html>