text-field {
    display: inline-block;
}

.results-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .results {
        width: 100%;
        height: 600px;
        overflow-y: auto;
        overflow-x: visible;

        location-card {
            overflow-x: visible;
        }
    }
    .results::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}