.button {
    margin: 5px 0;
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 0.35em;
    text-align: center;
    padding: 0.6rem 1.5rem;
}
.button:hover {
    cursor: pointer;
}

.button-primary--blue {
    color: #fff;
    background-color: #1B8FFA;
}
.button-primary--blue:hover {
    background-color: #1a78d1;
}
.button-secondary--blue {
    color: #1B8FFA;
    border: 1px solid #1B8FFA;
    background-color: #fff;
}
.button-secondary--blue:hover {
    background-color: #e9e9e9;
    color: #1B8FFA;
    transition: 0.2s;
}

.button-primary--pink {
    background-color: #FF7193;
    border: 1px solid #FFF;
    color: #FFF;
}
.button-primary--pink:hover {
    border: 1px solid #ff5980;
    background-color: #ff5980;
    transition: 0.2s;
}
.button-secondary--pink {
    color: #FF7193;
    border: 1px solid #FF7193;
    background-color: #FFF;
}
.button-secondary--pink:hover {
    background-color: #f7f7f7;
    transition: 0.2s;
}

