.btn-primary--blue {
    color: #fff;
    border: 0;
    background-color: #1B8FFA;
    font-size: 14px;
    border-radius: 1em;

    padding: 0.6rem 1.5rem;
    text-align: center;
}
.btn-primary--blue:hover {
    background-color: #1a78d1;
    cursor: pointer;
}