label.input-header {
    margin-bottom: 10px;
    
    font-size: 1.2rem;
    font-weight: 700;
}

input, select {
    border-radius: 0.25em;
    padding: 0.4em 0.6em;
    border: 1px solid #2e2e2e;

    font-size: 1rem;
}

textarea {
    padding: 0.4em 0.6em;
    min-height: 150px;
    resize: vertical;

    font-size: 1rem;
    font-family: "Varta", sans-serif;
}

.required:after {
    content: " *";
    color: #ff0000;
}

.checkbox-field {
    display: flex;
    align-items: center;

    label {
        margin-left: 10px;
    }
}

.button {
    margin: 5px 0;
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 0.35em;
    text-align: center;
    padding: 0.6rem 1.5rem;
}
.button:hover {
    cursor: pointer;
}

.button-primary--blue {
    color: #fff;
    background-color: #1B8FFA;
}
.button-primary--blue:hover {
    background-color: #1a78d1;
}
.button-secondary--blue {
    color: #1B8FFA;
    border: 1px solid #1B8FFA;
    background-color: #fff;
}
.button-secondary--blue:hover {
    background-color: #1B8FFA;
    color: #fff;
    transition: 0.2s;
}

.button-primary--pink {
    background-color: #FF7193;
    border: 1px solid #FFF;
    color: #FFF;
}
.button-primary--pink:hover {
    border: 1px solid #ff5980;
    background-color: #ff5980;
    transition: 0.2s;
}
.button-secondary--pink {
    color: #FF7193;
    border: 1px solid #FF7193;
    background-color: #FFF;
}
.button-secondary--pink:hover {
    background-color: #f7f7f7;
    transition: 0.2s;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .error-message {
        color: #e63e3e;
    }
}

.invalid--blank {
    border-color: #e63e3e;
    background-color: #f3b0b0;
}

select[multiple] {
    border-radius: 0.25em;
    min-height: 200px;
    padding: 0;
    
}
option {
    padding: 0.7rem 0.8rem;
    border-bottom: 1px solid #2e2e2e;
    font-family: "Varta", sans-serif;
}