@import "./forms.scss";

@mixin reviews {
    text-decoration: underline;
    font-weight: 700;

    a {
        color: inherit;
    }
    a:visited {
        color: inherit;
    }
}

.good-reviews {
    @include reviews;
    color: #44CF6C;
}
.okay-reviews {
    @include reviews;
    color: #cece74;
}
.bad-reviews {
    @include reviews;
    color: #C21C1C;
}

.row {
    margin: 0;
}
.content__wrapper {
    overflow-x: hidden;
}
#content {
    padding: 75px 0 !important;
}

section.content__header {
    position: relative;

    .clinic-name {
        display: flex;
        flex-direction: row;

        h3 {
            display: flex;
            font-weight: 400;
            font-size: 22px;
            color: #8C8C8C;

            padding-bottom: 8px;
            margin-left: 10px;
            
            span#branch-name {
                align-self: flex-end;
            }
        }
    }
    .clinic-reviews {
        margin: 25px 0;
    }

    .employer__label {
        font-weight: 700;
    }

    .sliding-box {
        text-align: center;
        margin-top: 10px;
        padding: 30px 40px;

        background: #e0e0e0;
    }
}

section.content__main {
    margin-top: 30px;

    h2.content__main__header {
        color: #ff7193;
        margin: 15px 0;
    }
    h3.content__main__subheader {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    div.content__main__subsection {
        font-size: 14px;
    }

    .content__main__list {
        list-style: none;

        .content__main__list-item {
            margin-left: 5px;
        }
    }
    .comments {
        margin: 20px 15px; 
    }
}

.content__left {
    height: 100%;

    .service-hour__days {
        display: flex;
        align-items: center;

        img {
            align-self: flex-start;
        }

        span {
            margin-left: 3px;
            font-size: 0.9rem;
        }
    }


}
.content__right {
    height: 100%;
    width: 270px;

    .map__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;

        background-color: #ff7193;
        color: #e9e9e9;
        font-weight: 700;
        
        span {
            margin-top: 2px;
        }
    }
    #map {
        height: 300px;
        max-width: 400px;
        background-color: #e0e0e0;
    }

    .content__info__wrapper {
        margin-top: 35px;
        margin-left: 20px;

        h3 {
            font-size: 18px;
        }

        .address__line1 {
            margin-top: 8px;
        }
    }

    .contact-info-section {
        margin: 20px 0;

        .phone-section, .fax-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 8px;
    
            svg {
                margin-right: 8px;
            }

            img {
                position: relative;
                top: 3px;
                left: 5px;
            }
        }
    }

    .business-hours-section {
        margin: 20px 0;

        .business-hour__list {
            list-style: none;
            margin-top: 8px;

            .business-hour__entry {
                margin: 5px 0;
            }
        }
    }

    .location-meta-data {
        .meta-data-label {
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 992px) {
    ul {
        display: flex;
        flex-direction: column;  
    }
    .clinic-name {
        display: flex;
        justify-content: center;
    }
    .comments {
        margin: 25px 20px;
    }
    .content__main {
        div {
            text-align: center;
        }
    }
    .content__left {
        text-align: center;
    }
    .content__right {
        text-align: center;
        margin: 0 auto;

        #map , .map__header {
            position: relative;
            right: 25%;
            width: 400px !important;
        }
    }
    .phone-section, .fax-section {
        display: flex;
        justify-content: center;
    }
}