@import "./forms.scss";

h2 {
    margin: 20px 0;
}

checkbox-field label {
    font-weight: 400;
    font-size: 0.8rem;
}

.content__header {

    p {
        margin: 40px 0;
        font-size: 1.2rem;
    }
}

label {
    font-weight: 700;
    font-size: 1.1rem;
}



.login-section {
    max-width: 400px; 
    margin-right: 50px;

    #login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .login-buttons__wrapper {
            display: flex;
            flex-direction: column;
            
        }
    }
}

.register-section {
    max-width: 400px;

    text-field, select-field {
        height: 83px;
    }

    select-field {
        position: relative;
        top: 12px;
    }
}


#forgot-pw-button, #register-button {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .register-section {
        margin-top: 40px;
    }
}

