html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.fa-thumbs-up {
    color: #fff;
}

.disabled {
    opacity: 0.6;
}
.disabled:hover {
    background-color: #0093B2 !important;
    color: #fff !important;
}

#content {
    margin-left: 12vw;
    margin-right: 14vw;
    margin-top: 70px;
    max-width: 100vw;
    font-family: "Roboto", serif !important;
}

#center-name {
    margin-left: -2px;
    display: inline-block;
    font-weight: 500 !important;
    font-size: 2.9rem;
    margin-bottom: 0;
}
#branch-name {
    margin-left: 10px;
    font-weight: 300;
    font-size: 1.4rem !important;
    color: rgb(122, 122, 122);
}
#category {
    margin-top: 3px;
    font-size: 1rem;
}

#update-info {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

#authsAndCOCs {
    margin-top: 10px;
}

#authsLabel, #cocsLabel {
    font-weight: 500;
}

#serviceListElement {
    list-style: none;
}

.button {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 7px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #000;
    color: #FFF;
}

.button:hover {
    color: #0093B2;
    background-color: #FFF;
}

#updateBtn {
    border-color: #0093B2;
    background-color: #0093B2;
}

#updateBtn:hover {
    color: #0093B2;
    background-color: #FFF;
}

#reviewBtn {
    font-size: 0.9rem;
    background-color: #f84c3f;
    border-color: #e82f22;
}
#reviewBtn a {
    text-decoration: none;
    color: #fff;
}
#reviewBtn a:hover {
    background-color: #FFF;
    background-color: #f84c3f;
}

#verifyBtn {
    background-color: #44CF6C;
    border-color: #44CF6C;
}

#verifyBtn:hover {
    color: #44CF6C;
    background-color: #FFF;
}

#contacts-section {
    font-size: 0.9rem;
}

#map-header {
    width: 350px;
    text-align: center;
    background-color: #0093B2;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

#map {
    height: 300px;
    width: 350px;
}

#address {
    margin: auto;
    margin-top: 25px;
    margin-left: 20px;
    text-align: left;

    display: flex;
    flex-direction: column;
}

#street_line_1, #street_line_2, #city, #state, #zipcode {
    font-size: 1rem;
}

#op-hours {
    margin: auto;
    margin-left: 20px;
    text-align: left;
}

.op-hour {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#deleteBtn {
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
    text-align: center;

    background-color: #f84c3f;
    border-color: #f84c3f;
}

#deleteBtn a {
    padding: 1px 6px;
    text-decoration: none;
    color: #fff;
    pointer-events: none;
}

.info-header {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 800;
    color: #0093B2;
}

.service-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 991px) {
    * {
        text-align: center;
        margin: auto;
    }
    .hours-section {
        margin-top: 15px;
    }
    #content {
        margin-left: 0;
    }
    #sidebar {
        margin-top: 35px;
        width: 400px;
    }
    #map, #map-header {
        width: 100%;
    }
    #service-list {
        list-style: none;
        padding-left: 0;
    }
    #service-hours-list {
        list-style: none;
        padding-left: 0;
    }
    #sidebar-footer {
        margin-bottom: 40px;
    }
    .grid-container {
        grid-template-columns: auto !important;
    }
    .grid-item {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .serviceListElement::before {
        display: none !important;
    }
}
#service-info {
    margin-top: 30px;
}
#service-list {
    list-style: none;
}
#service-hours-list {
    list-style: none;
}
.serviceListElement {
    font-size: 0.9rem;
}
.serviceListElement::before {
    display: inline-block;
    width: 1em;
    margin-left: -1em;

    content: "\002B";
    color: #0093B2;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#comments-section {
    margin-bottom: 20px;
}
#comments {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
/* The box around the toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
input:checked + .slider {
    background-color: #44CF6C;
}

input:focus + .slider {
    box-shadow: 0 0 1px #44CF6C;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#autosave-label {
    font-size: 0.9rem;
    margin-left: 5px;
}
#save-status {
    position: relative;
    float: right;
    bottom: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
}
#commentsBtn {
    border-color: #0093B2;
    background-color: #0093B2;
}
#commentsBtn:hover {
    color: #0093B2;
    background-color: #FFF;
}


#city, #state, #zipcode {
    display: inline-block;
}

#callable-label {
    margin-left: 20px !important;
    font-weight: 500;
}
.green-check::after {
    display: inline-block;
    content: "\2713";

    width: 1em;
    margin-left: 0.3em;
    color: #44CF6C;
    font-weight: bold;
}
.red-check::after {
    display: inline-block;
    content: "\1F5D9";

    width: 1em;
    margin-left: 0.3em;
    color: #f84c3f;
    font-weight: bold;
}

#website {
    font-weight: 600;
    text-decoration: none;
}
#website:hover {
    color: #007bff;
}

#review-author-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
#review-question {
    margin-right: 5px;
}
.modal-rating {
    border: 1px solid #000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}  
.modal-rating:hover {
    cursor: pointer;
    border-color: #437eff;
    background-color: rgb(67, 126, 255);
    color: #fff;
} 
#likeBtn {
    margin-right: 10px;
}
#likeBtn:hover {
    border-color: rgb(67, 126, 255);
    background-color: rgb(67, 126, 255);
}
#dislikeBtn:hover {
    background-color: #f84c3f;
    border-color: #e82f22;
}
#review-comments-container {
    margin-top: 20px;
}
#review-comments {
    width: 100%;
    font-size: 0.8rem;
}
