* {
    font-family: "Roboto", serif !important;
}

body {
    overflow-x: hidden;
}

label, select, .modal-link, .btn {
    font-size: 0.9em;
}

.form-control {
    font-size: 0.8em;
}

.form-group {
    margin-bottom: 0.5rem;
}

#content {
    margin-left: 12vw;
    margin-right: 14vw;
    margin-top: 70px;
    max-width: 100vw;
}

#content-header {
    font-weight: 500;
    font-size: 2.4rem;
}

#submit-btn {
    border: 1px solid #272727;
    color: #fff;
    background: #272727;
}
#submit-btn:hover {
    background: #272727;
    color: #fff;
}

button[type="reset"] {
    border: 1px solid #272727;
}

ul {
    padding: 0;
}

ul.location-sublist {
    list-style-type: none;
}

.requiredField {
    font-weight: 600;
}

[name="service_list"] + button, [name="ccf_category_list"] + button, [name="auth_method_list"] + button  {
    border: 1px solid #a3a3a3;
}

a.modal-link {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
a.modal-link:hover {
    color: #007bff;
}
a.modal-link:hover::after {
    transform: scaleX(1);
}
a.modal-link::after {
    display: block;
    content: '';
    border-bottom: 1px solid #007bff;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}


.list-group-item {
    font-size: 0.9em;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .50rem;
    padding-bottom: .50rem;
}

ul#contacts-list li, ul#op-hours-list li, ul#serv-hours-list li {
    font-size: 1rem
}

.list-group-item:hover  {
    border: 1px solid rgb(233, 123, 123) !important;
    background: rgb(233, 123, 123);
    color: #fff;
    transition: 0.5s
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(245, 102, 102);
}
.overlay-text {
    color: white;
    font-weight: 600;
    font-size: 0.6em;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    border-top: 1px solid #fff !important;
    background-color: rgb(129, 41, 41);
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    text-align: center;
}

.list-group-item:hover {
    cursor: pointer;
}

.multi-select {
    display: static;
}

.dropdown-item {
    font-size: 0.8rem !important;
}