@import url("https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

$success: #44CF6C;
$blue: #1B8FFA;

h1, h2 {
    font-family: "Archivo Black", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(15px + 1.2vw);
}

h3 {
    font-family: "Archivo", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    color: #1B242F;
    font-family: "Varta", sans-serif;
}

button:focus {
    outline: none;
}

.blue-link {
    color: $blue;
    font-weight: 700;
}

main#content {
    padding: 80px calc(50px + 5vw);
    overflow-x: hidden;
}