<div class="modal fade" id="{% block modalID %}{% endblock %}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                {% block header %}{% endblock %}
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                {% block tab_list %}{% endblock %}
                </ul>
                <div class="tab-content">
                    {% block tab_content %}{% endblock %}
                </div>
            </div>
            <div class="modal-footer">
                {% block modalFooter %}{% endblock %}
            </div>
        </div>
    </div>
</div>