{% load crispy_forms_tags %}

<div class="modal fade" id="op-hours-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hours of Operation</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    {{ form.op_is_range|as_crispy_field }} 
                    <div class="form-row">
                        <div class="col">
                            {{ form.op_day1|as_crispy_field }}
                        </div>
                        <div class="col d-none" id="day2">
                            {{ form.op_day2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="day-range-errmsg">Invalid day range!</div>
                    <div class="form-row">
                        <p class="pt-1 pr-3">Start Time: </p>
                        {{ form.op_start_hour|as_crispy_field }}
                        <span class="pt-1 pl-1 pr-1">:</span>
                        {{ form.op_start_min|as_crispy_field }}
                        <span class="pr-1"></span>
                        {{ form.op_start_am_pm|as_crispy_field }}
                    </div>
                    <div class="form-row">
                        <p class="pt-1 pr-3">End Time: </p>
                        <span class="pr-1"></span><span class="pr-0"></span>
                        {{ form.op_end_hour|as_crispy_field }}
                        <span class="pt-1 pl-1 pr-1">:</span>
                        {{ form.op_end_min|as_crispy_field }}
                        <span class="pr-1"></span>
                        {{ form.op_end_am_pm|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger d-none text-bold" id="op-hours-alert"></div>
                <button 
                type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal"
                >
                    Close
                </button>
                
                <button
                type="button"
                class="btn btn-primary"
                id="op-hours-modal-submit-btn"
                >
                    Save Hours
                </button>
            </div>
        </div>
    </div>
</div>