{% load crispy_forms_tags %}

<div class="modal fade" id="op-hours-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hours of Operation</h5>
            </div>
            <div class="modal-body">
                <div class="container" id="op-hours-fields">
                    {{ form.op_is_range|as_crispy_field }} 
                    <div class="form-row">
                        <div class="col">
                            {{ form.op_day1|as_crispy_field }}
                        </div>
                        <div class="col d-none" id="day2">
                            {{ form.op_day2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="day-range-errmsg">Invalid day range!</div>
                    <div class="form-row">
                        <div class="col">
                            {{ form.op_start_time|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.op_end_time|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-check form-check-inline">
                            <input 
                            type="checkbox" 
                            class="form-check-input"
                            id="isClosed" 
                            name="isClosed">
                            <label class="form-check-label" for="isClosed">Closed?</label>
                        </div>
                        <div class="col form-check form-check-inline">
                            <input 
                            type="checkbox"
                            class="form-check-input" 
                            id="is24_7" 
                            name="is_24-7">
                            <label class="form-check-label" for="is24_7">Open 24 Hours?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger d-none text-bold" id="op-hours-alert"></div>
                <button 
                type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal"
                >
                    Close
                </button>
                
                <button
                type="button"
                class="btn btn-primary"
                id="op-hours-submit-btn"
                >
                    Save Hours
                </button>
            </div>
        </div>
    </div>
</div>