{% load crispy_forms_tags %}

<div class="modal fade" id="serv-hours-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Service Hours</h5> 
            </div>
            <div class="modal-body">
                <div class="container" id="service-hours-fields">
                    <div class="form-row">
                        {{ form.service_name|as_crispy_field }}
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{ form.service_start_time|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.service_end_time|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button 
                type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal"
                >
                    Close
                </button>
                
                <button 
                type="button"
                class="btn btn-primary"
                id="service-hours-submit-btn"
                >
                    Save Hours
                </button>
            </div>
        </div>
    </div>
</div>

