<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="row">
        <main id="content" class="col-12">
            <div class="row">
                <section class="col-12 content__header">
                    <h1>Dashboard</h1>
                </section>
            </div>
            <div class="row">
                <section class="col-md-6">
                    <p>Welcome! The dashboard section is under construction</p>
                </section>
                <section class="col-md-6">

                </section>
            </div>
        </main>
    </div>
</body>
</html>