<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user.first_name }}'s </title>
</head>
<body>
    <div class="row">
        <main id="content" class="col-12">
            <div class="row">
                <section class="col-12 content__header">
                    <h1>Join the Network</h1>
                </section>
            </div>
            <div class="row">
                <section class="col-md-6 login-section">

                </section>
                <section class="col-md-6 register-section">

                </section>
            </div>
        </main>
    </div>
</body>
</html>