<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore the Network</title>
</head>
<body>
    <div class="row">
        <main id="content" class="col-12">
            <div class="row">
                <section class="col-12 content__header">
                    <h1>Explore the Network</h1>
                    <p>Use the search box below to find a location near you.</p>
                </section>
            </div>
            <div class="row">
                <section class="col-12">
                    <form id="search-form">
                        <div class="row search-box">
                            <text-field class="col-6">
                                <label slot="label" for="address">Address or Zip Code</label>
                                <input
                                slot="input"
                                type="text"
                                id="address"
                                required>
                            </text-field>
                            <text-field class="col-6">
                                <label slot="label" for="radius">Radial Distance</label>
                                <input
                                slot="input"
                                name="radius"
                                type="text"
                                id="radius"
                                required>
                            </text-field>
                        </div>
                        <div class="row">
                            <div class="filters-box">
                                
                            </div>
                            <div class="col-12">
                                <button type="submit" class="button button-primary--pink">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
                <section class="col-12 results-box">
                    <div class="results">
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>