<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main id="content">
        <div class="content__left">
            <section class="content__header">
                <div class="clinic-name">
                    <h1 id="center-name"></h1>
                    <h3><span id="branch-name"></span></h3>
                </div>
                <div class="clinic-category">
                    <span id="location-category"></span>
                </div>
                <div class="clinic-reviews">
                </div>
                <div class="employer-info">
                    <div class="employer-info__section">
                        <a href="#" class="blue-link" id="employer-info--toggle">
                            Click for Employer Information
                        </a>
                    </div>
                    <div class="employer-info__section sliding-box">
                        <div class="employer-info__auths">
                            <span class="employer__label">Authorize Through:</span>
                            <span id="auth-method-list"></span>
                        </div>
                        <div class="empolyer-info__ccfs">
                            <span class="employer__label">Drug Screen COC Methods:</span>
                            <span id="ccf-category-list"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content__main">
                <div class="content__main__section services-section">
                    <h2 class="content__main__header">Services Provided</h2>
                    <div>
                        
                    </div>
                </div>
                <div class="content__main__section">
                    <h2 class="content__main__header">Service Hours</h2>
                    <div>
                        
                    </div>
                </div>
                <div class="content__main__section">
                    <h2 class="content__main__header">Contacts</h2>
                    <div>
                        
                    </div>
                </div>    
                <div class="content__main__section">
                    <h2 class="content__main__header">Comments</h2>
                    <div>
                        
                    </div>
                </div>                                              
            </section>
        </div>
        <div class="content__right">
            <div class="map__header">
                <span>Location</span>
            </div>
            <div id="map"></div>
        </div>
    </main>
</body>
</html>