<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Logged Out</title>
</head>
<body>
    <div class="row">
        <main id="content" class="col-12">
            <div class="row">
                <section class="col-12 content__header">
                    <h1>Occupational Health Network</h1>
                </section>
            </div>
            <div class="row">
                <section class="col-md-12">
                    <p>You have successfully logged out. Log in again <a href="/login">here.</a></p>
                </section>
            </div>
        </main>
    </div>
</body>
</html>