<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    <div id="root">
        <nav class="sidebar__wrapper sidebar--collapse">
            <div class="sidebar">
                <header class="sidebar__header">
                    <div class="logo__wrapper">
                        <a href="/">
                            <img src="../assets/nav main logo.svg">
                        </a>
                    </div>
                    <button class="nav-button logo__wrapper--mini">
                        <a href="/">
                            <img src="../assets/nav main logo mini.svg">
                        </a>
                    </button>
                </header>
                <ul class="sidebar__nav1">
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg" id="svg-dashboard">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8605 27.0483C7.60806 27.0483 1.72876 21.3026 1.72876 14.2149C1.72876 7.12727 7.60806 1.38159 14.8605 1.38159C22.113 1.38159 27.9923 7.12727 27.9923 14.2149C27.9923 21.3026 22.113 27.0483 14.8605 27.0483ZM23.6941 20.1937C24.8987 18.497 25.6047 16.4365 25.6047 14.2149C25.6047 8.41595 20.7944 3.71494 14.8606 3.71494C8.92671 3.71494 4.11637 8.41595 4.11637 14.2149C4.11637 16.4365 4.82236 18.497 6.02704 20.1937C7.3706 18.4593 10.5278 17.7149 14.8605 17.7149C19.1933 17.7149 22.3505 18.4594 23.6941 20.1937ZM21.9812 22.078C21.6318 20.8502 19.1217 20.0483 14.8605 20.0483C10.5994 20.0483 8.08933 20.8502 7.73991 22.078C9.63565 23.7188 12.1291 24.7149 14.8606 24.7149C17.592 24.7149 20.0854 23.7188 21.9812 22.078ZM14.8605 7.21494C11.9705 7.21494 10.0853 9.26332 10.0853 11.8816C10.0853 15.8802 12.1875 17.7149 14.8605 17.7149C17.5085 17.7149 19.6357 15.9412 19.6357 12.1149C19.6357 9.45678 17.7426 7.21494 14.8605 7.21494ZM12.4729 11.8816C12.4729 14.529 13.4497 15.3816 14.8605 15.3816C16.2665 15.3816 17.2481 14.563 17.2481 12.1149C17.2481 10.6571 16.3118 9.54825 14.8605 9.54825C13.3489 9.54825 12.4729 10.5 12.4729 11.8816Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Dashboard
                        </p>
                    </li>
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9923 14.0697C27.9923 6.98201 22.113 1.23633 14.8605 1.23633C7.60806 1.23633 1.72876 6.98201 1.72876 14.0697C1.72876 21.1573 7.60806 26.903 14.8605 26.903C22.113 26.903 27.9923 21.1573 27.9923 14.0697ZM4.88316 10.1666C5.97355 7.50692 8.14518 5.38465 10.8667 4.31904C10.2282 5.52368 9.72728 7.02561 9.38967 8.72313C7.65267 9.05306 6.11582 9.54257 4.88316 10.1666ZM18.8544 4.31903C19.4929 5.52368 19.9938 7.02561 20.3314 8.72313C22.0684 9.05306 23.6053 9.54258 24.8379 10.1666C23.7475 7.50692 21.5759 5.38464 18.8544 4.31903ZM4.11636 14.0697C4.11636 13.0205 6.06068 11.8822 9.02822 11.1976C8.93816 12.1223 8.89155 13.0838 8.89155 14.0697C8.89155 15.0555 8.93816 16.017 9.02822 16.9418C6.06068 16.2572 4.11636 15.1188 4.11636 14.0697ZM20.8295 14.0697C20.8295 15.0555 20.7829 16.017 20.6929 16.9418C23.6604 16.2572 25.6047 15.1188 25.6047 14.0697C25.6047 13.0205 23.6604 11.8822 20.6929 11.1976C20.7829 12.1223 20.8295 13.0838 20.8295 14.0697ZM4.88316 17.9727C6.11581 18.5967 7.65267 19.0863 9.38967 19.4162C9.72728 21.1137 10.2282 22.6156 10.8667 23.8203C8.14518 22.7547 5.97354 20.6324 4.88316 17.9727ZM20.3314 19.4162C19.9938 21.1137 19.4929 22.6157 18.8544 23.8203C21.5759 22.7547 23.7476 20.6324 24.8379 17.9727C23.6053 18.5967 22.0684 19.0863 20.3314 19.4162ZM11.2792 14.0697C11.2792 12.9144 11.3533 11.806 11.4852 10.7711C12.5442 10.6421 13.6784 10.5697 14.8605 10.5697C16.0427 10.5697 17.1769 10.6421 18.2359 10.7711C18.3678 11.806 18.4419 12.9144 18.4419 14.0697C18.4419 15.225 18.3678 16.3333 18.2359 17.3683C17.1769 17.4972 16.0427 17.5697 14.8605 17.5697C13.6784 17.5697 12.5442 17.4972 11.4852 17.3683C11.3533 16.3333 11.2792 15.225 11.2792 14.0697ZM11.9216 19.7694C12.6222 22.6695 13.787 24.5697 14.8605 24.5697C15.9341 24.5697 17.0989 22.6695 17.7994 19.7694C16.8532 19.8575 15.8693 19.903 14.8605 19.903C13.8518 19.903 12.8679 19.8575 11.9216 19.7694ZM14.8605 3.56966C13.787 3.56966 12.6222 5.46979 11.9216 8.36989C12.8679 8.28188 13.8518 8.23633 14.8605 8.23633C15.8693 8.23633 16.8532 8.28188 17.7994 8.36989C17.0989 5.46979 15.9341 3.56966 14.8605 3.56966Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Explore
                        </p>
                    </li>
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4728 1.32227C11.1674 1.32227 10.1067 2.36335 10.0855 3.6556H23.217V21.0571L25.6046 22.2435V3.695C25.6046 2.38458 24.5356 1.32227 23.217 1.32227H12.4728ZM12.4728 22.46L4.11621 26.5433V8.32227C4.11621 7.0336 5.18517 5.98893 6.50381 5.98893H18.4418C19.7604 5.98893 20.8294 7.0336 20.8294 8.32227V26.5433L12.4728 22.46ZM6.50381 22.7679L12.4728 19.8512L18.4418 22.7679V8.32226H6.50381V22.7679Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Bookmarks
                        </p>
                    </li>
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9999 2.33337C7.55992 2.33337 2.33325 7.56004 2.33325 14C2.33325 20.44 7.55992 25.6667 13.9999 25.6667C20.4399 25.6667 25.6666 20.44 25.6666 14C25.6666 7.56004 20.4399 2.33337 13.9999 2.33337ZM12.8333 8.16671V12.8334H8.16658V15.1667H12.8333V19.8334H15.1666V15.1667H19.8333V12.8334H15.1666V8.16671H12.8333ZM4.66659 14C4.66659 19.145 8.85492 23.3334 13.9999 23.3334C19.1449 23.3334 23.3333 19.145 23.3333 14C23.3333 8.85504 19.1449 4.66671 13.9999 4.66671C8.85492 4.66671 4.66659 8.85504 4.66659 14Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Add Location
                        </p>
                    </li>                                                
                </ul>
                <ul class="sidebar__nav2">
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8067 23.8827L24.4535 21.296L23.5213 17.9863L23.9274 17.0384L26.9923 15.3483V11.6904L23.9361 9.99318L23.5368 9.04695L24.4807 5.73557L21.832 3.1508L18.4451 4.06155L17.4773 3.665L15.7477 0.669495H12.0047L10.2681 3.65621L9.30005 4.04637L5.91221 3.12277L3.26761 5.70726L4.1997 9.01778L3.79393 9.96356L0.72876 11.6538V15.3107L3.78218 17.0117L4.18185 17.9587L3.23809 21.2695L5.88369 23.855L9.27119 22.9441L10.2391 23.3407L11.9687 26.335H15.7107L17.45 23.3509L18.4188 22.9604L21.8067 23.8827ZM22.0412 15.3994L21.0005 17.8285L21.7828 20.6061L21.1043 21.2693L18.2681 20.4972L15.7813 21.4994L14.323 24.0016H13.3626L11.9163 21.4978L9.43341 20.4804L6.58967 21.2451L5.91227 20.5831L6.70236 17.8114L5.67684 15.3813L3.11636 13.955V13.0164L5.67956 11.6029L6.72067 9.1763L5.9382 6.3972L6.6142 5.73657L9.45037 6.50977L11.938 5.50714L13.3941 3.00283H14.3535L15.7998 5.50778L18.2829 6.52522L21.1272 5.76039L21.8063 6.42309L21.0163 9.19427L22.0422 11.6251L24.6047 13.0482V13.9857L22.0412 15.3994ZM13.8605 18.1695C11.2233 18.1695 9.08535 16.0802 9.08535 13.5028C9.08535 10.9255 11.2233 8.83616 13.8605 8.83616C16.4978 8.83616 18.6357 10.9255 18.6357 13.5028C18.6357 16.0802 16.4978 18.1695 13.8605 18.1695ZM16.2481 13.5028C16.2481 14.7915 15.1792 15.8362 13.8605 15.8362C12.5419 15.8362 11.4729 14.7915 11.4729 13.5028C11.4729 12.2142 12.5419 11.1695 13.8605 11.1695C15.1792 11.1695 16.2481 12.2142 16.2481 13.5028Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Settings
                        </p>
                    </li>
                    <li class="nav-button sidebar__nav-item">
                        <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.5001 3.51166H3.50008C2.21675 3.51166 1.16675 4.56166 1.16675 5.84499V10.5H3.50008V5.82166H24.5001V22.19H3.50008V17.5H1.16675V22.1783C1.16675 23.4617 2.21675 24.4883 3.50008 24.4883H24.5001C25.7834 24.4883 26.8334 23.4617 26.8334 22.1783V5.84499C26.8334 4.54999 25.7834 3.51166 24.5001 3.51166Z" fill="#4F4F4F"/>
                            <path d="M12.8334 18.6666L17.5001 14L12.8334 9.33331V12.8333H1.16675V15.1666H12.8334V18.6666Z" fill="#4F4F4F"/>
                        </svg>
                        <p class="sidebar__nav-item__text">
                            Sign Out
                        </p>
                    </li>                
                </ul>
                <footer class="footer">
                    <a href="https://github.com/rbondoc96" target="_blank">
                        <button class="footer__github-link">
                            <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.265 0 0 6.265 0 14C0 20.195 4.0075 25.4275 9.5725 27.2825C10.2725 27.405 10.535 26.985 10.535 26.6175C10.535 26.285 10.5175 25.1825 10.5175 24.01C7 24.6575 6.09 23.1525 5.81 22.365C5.6525 21.9625 4.97 20.72 4.375 20.3875C3.885 20.125 3.185 19.4775 4.3575 19.46C5.46 19.4425 6.2475 20.475 6.51 20.895C7.77 23.0125 9.7825 22.4175 10.5875 22.05C10.71 21.14 11.0775 20.5275 11.48 20.1775C8.365 19.8275 5.11 18.62 5.11 13.265C5.11 11.7425 5.6525 10.4825 6.545 9.5025C6.405 9.1525 5.915 7.7175 6.685 5.7925C6.685 5.7925 7.8575 5.425 10.535 7.2275C11.655 6.9125 12.845 6.755 14.035 6.755C15.225 6.755 16.415 6.9125 17.535 7.2275C20.2125 5.4075 21.385 5.7925 21.385 5.7925C22.155 7.7175 21.665 9.1525 21.525 9.5025C22.4175 10.4825 22.96 11.725 22.96 13.265C22.96 18.6375 19.6875 19.8275 16.5725 20.1775C17.08 20.615 17.5175 21.455 17.5175 22.7675C17.5175 24.64 17.5 26.145 17.5 26.6175C17.5 26.985 17.7625 27.4225 18.4625 27.2825C23.9925 25.4275 28 20.1775 28 14C28 6.265 21.735 0 14 0Z" fill="#4F4F4F"/>
                            </svg>
                        </button>
                    </a>
                    <div class="footer__copyright">
                        <p>&copy; 2020. Rodrigo Bondoc</p>
                    </div>
                </footer>
            </div>
            <button class="sidebar--toggle">
                <img src="../assets/nav toggle.svg">
            </button>
        </nav>
        <main id="content">
            Hi
        </main>
    </div>
</body>
</html>