.textInput > label,
.selectInput > label,
.listSelectInput > label {
    font-size: 1.1rem;
    font-weight: 600;
}
.listSelectInput > label {
    font-size: 1.2rem;
    margin: 0.5em 0;
}
.required-label:after {
    content: " - Required";
    font-size: 0.7em;
    color: var(--color-danger);
}
 
.textInput,
.selectInput {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}
.textInput input,
.selectInput select {
    border: 1px solid var(--color-input-border);

    border-top-color: var(--color-bg);
    border-left-color: var(--color-bg);
    border-right-color: var(--color-bg); 
    background-color: var(--color-input-bg);

    padding: 0.5em 0.6em; 
    font-size: 1rem;
    box-sizing: content-box;
    
    &:focus {
       outline: none;
       border: 1px solid var(--color-accent);
    }   
}
.input--notempty {
    background-color: var(--color-footer-bg) !important;
}

.textInput > .helper-message {
    font-size: 0.9em;
    font-style: italic;
}
.textInput > .validation-message {
    margin-top: 0.4em;
    margin-left: 0.1em;
    font-size: 0.9em;
}

.textInput--md,
.selectInput--md {
    padding: 1.2em 0;
 
    > input, > label, > div, > select {
       font-size: 1.1rem;
    }
}
.textInput--lg,
.selectInput--lg {
    padding: 1.4em 0;   
    > input, > label, > div, > select {
       font-size: 1.2rem;
    }
}

.checkboxInput label {
    display: flex;
    flex-direction: row;

    &:hover {
        cursor: pointer;
    }
}
.checkboxInput-label {
    margin-left: 10px;
}

.listSelectInput {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
 }
 .listSelect {
    border: 1px solid var(--color-input-border);

    max-height: 350px;
    overflow-y: auto;
 }

.listSelect > .checkboxInput {
    border-bottom: 1px solid var(--color-input-border);

    &:last-child {
        border-bottom: 0;
    }
}
.listSelect > .checkboxInput label {
    padding: 1.2em 0.8em;
}

.button {
    border: 0;
    border-radius: 5px;
    padding: 0.8em 1.6em;
    margin: 0.7em 0;
    width: 100%;

    font-size: 1.1rem;
    color: #fff;

    background-color: var(--color-button);
    transition-property: background-color;
    transition-duration: 0.3s;

    &:hover {
        cursor: pointer;

        background-color: var(--color-button-hover);
        transition-property: background-color;
        transition-duration: 0.3s;
    }

    &:focus {
        outline: none;
    }
}
.button-secondary {
    border: 1px solid var(--color-button);
    background-color: #fff;
    color: var(--color-button);

    &:hover {
        background-color: var(--color-button);
        color: #fff;
    }
}
.button--small {
    font-size: 0.9em;
}